.experience-container {
  font-family: "Meera Inimai", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  width: 90%;
  margin: 20px auto;
  padding: 10px 0px 20px 0px;
  line-height: 1.5em;

  div {
    display: flex;
    justify-content: center;
    width: 100%;
    .left-experience {
      width: 160px;
      align-items: flex-start;
      justify-content: flex-end;
      padding-right: 20px;
      h2 {
        font-size: 20px;
        font-weight: bold;
        color: #4559ff;
      }
    }
    .right-experience {
      width: 100%;
      display: flex;
      flex-direction: column;
      font-size: 18px;
      line-height: 1.5em;
      .subheading {
        div:first-child {
          justify-content: flex-start;
          h4 {
            font-weight: bold;
            color: #15c89c;
            margin-right: 3px;
          }
          p {
            margin-left: 3px;
          }
        }
        div {
          h6 {
            width: 150px;
          }
        }
      }

      .subheading-2 {
        justify-content: flex-start;
        p {
          font-style: italic;
        }
      }
      .body-text {
        line-height: 1.5em;
      }
    }
  }
}

@media (max-width: 930px) {
  .experience-container {
    div {
      .right-experience {
        font-size: 17px;
        .subheading {
          flex-direction: column;
          div:nth-child(2) {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .experience-container {
    // width: 95%;
    margin: 10px auto;
    div {
      flex-direction: column;
      align-items: center;
      .left-experience {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-right: 0px;
        h2 {
          color: #6514ff;
          padding-bottom: 10px;
        }
      }
      .right-experience {
        .subheading {
          // align-items: flex-start;
          // flex-direction: row;
          div:first-child {
            flex-direction: row;
            h4 {
              color: #ff728f;
            }
          }
          div:nth-child(2) {
            align-items: flex-start;
            // justify-content: flex-start;
          }
        }
        .subheading-2 {
          align-items: flex-start;
        }
      }
    }
  }
}
