.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: lightgray;
  height: 200px;
  border-bottom: 10px solid darkgreen;
  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
    padding: 20px;
    div {
      display: flex;
      .profile {
        img {
          display: flex;
          width: 150px;
          height: 150px;
          max-width: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      .name-container {
        display: flex;
        flex-direction: column;
        p {
          color: darkgreen;
        }
      }
    }

    .links-container {
      display: flex;
      flex-direction: column;

      a {
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        text-decoration: none;
        color: black;
        background-color: white;
        border-radius: 5px;
        i {
          font-size: 40px;
        }
      }
    }
  }
}
