.techskills-container {
  font-family: "Meera Inimai", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5em;
  max-width: 1000px;
  width: 95%;
  margin: 20px auto;
  div {
    display: flex;
    justify-content: center;
    .left-techskills {
      align-items: flex-start;
      justify-content: flex-end;
      padding-right: 20px;
      width: 160px;
      h2 {
        font-size: 20px;
        font-weight: bold;
        color: darkgreen;
      }
    }
    .right-techskills {
      article {
        display: flex;
        flex-direction: column;
        padding-right: 150px;
        h4 {
          font-size: 18px;
          font-weight: bold;
          color: darkgreen;
        }
        li {
          margin: 5px 0;
          font-size: 19px;
        }
      }
    }
  }
}
