.techskills-container {
  font-family: "Meera Inimai", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  line-height: 1.5em;
  div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    width: 950px;
    .left-techskills {
      align-items: flex-start;
      justify-content: flex-end;
      flex: 1;
      padding-right: 50px;
      h2 {
        font-size: 20px;
        font-weight: bold;
        color: darkgreen;
      }
    }
    .right-techskills {
      flex: 4;
      width: 100px;
      h4 {
        color: darkgreen;
      }
      .front-end {
        flex-direction: column;
      }
      .back-end {
        flex-direction: column;
      }
      .misc {
        flex-direction: column;
      }
    }
  }
}
