.education-container {
  font-family: "Meera Inimai", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  line-height: 1.5em;
  max-width: 1000px;
  width: 90%;
  margin: 20px auto;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #15c89c;
  div {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    // margin: 5px 0;
    .left-education {
      width: 160px;
      align-items: flex-start;
      justify-content: flex-end;
      padding-right: 20px;
      h2 {
        font-size: 20px;
        font-weight: bold;
        color: #4559ff;
      }
    }
    .right-education {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      .subheading {
        div:first-child {
          justify-content: flex-start;
          flex-direction: row;
          h4 {
            color: #15c89c;
            margin-right: 3px;
          }
          p {
            margin-left: 3px;
          }
        }
        div {
          h6 {
            width: 150px;
          }
        }
      }

      .subheading-2 {
        justify-content: flex-start;
        h5 {
          font-style: italic;
        }
      }
      .subheading-3 {
        justify-content: flex-start;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 930px) {
  .education-container {
    div {
      font-size: 17px;
      .right-education {
        .subheading {
          flex-direction: column;
          div:nth-child(2) {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .education-container {
    // width: 95%;
    border-bottom: 1px solid #ff728f;
    margin: 10px auto;
    div {
      flex-direction: column;
      .left-education {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-right: 0px;
        h2 {
          color: #6514ff;
          padding-bottom: 10px;
        }
      }
      .right-education {
        .subheading {
          display: flex;
          div:first-child {
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: row;
            h4 {
              color: #ff728f;
            }
          }
          div {
            h6 {
              width: 150px;
            }
          }
        }
      }
    }
  }
}
