.education-container {
  font-family: "Meera Inimai", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  line-height: 1.5em;
  max-width: 1000px;
  width: 90%;
  margin: 20px auto;
  padding: 10px 0px 20px 0px;
  border-bottom: 1px solid darkblue;
  div {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    // margin: 5px 0;
    .left-education {
      width: 160px;
      align-items: flex-start;
      justify-content: flex-end;
      padding-right: 20px;
      h2 {
        font-size: 20px;
        font-weight: bold;
        color: darkgreen;
      }
    }
    .right-education {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      .subheading {
        div {
          justify-content: flex-start;
          flex-direction: row;
          h4 {
            color: darkgreen;
            margin-right: 3px;
          }
          p {
            margin-left: 3px;
          }
          h6 {
            padding-left: 70px;
          }
        }
      }
      .subheading-2 {
        justify-content: flex-start;
        h5 {
          font-style: italic;
        }
      }
      .subheading-3 {
        justify-content: flex-start;
        margin-bottom: 20px;
      }
    }
  }
}
