.carousel {
  display: flex;
  align-items: center;
}
.image-slide {
  height: 26vh;
  background-size: cover;
  background-position: center;
}
.slide-arrow {
  cursor: pointer;
  font-size: 1.2rem;
}
.slide-arrow:hover {
  color: lightgray;
}
@media (min-width: 850px) {
  .image-slide {
    height: 30vh;
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 900px) {
  .image-slide {
    height: 46vh;
    background-size: cover;
    background-position: center;
  }
}
