footer {
  font-family: "Meera Inimai", sans-serif;
  width: 100%;
  border-top: 10px solid #4559ff;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: url("../images/mag.png");
  overflow: hidden;
  background-size: contain;
  position: absolute;
  background-position: right;
  background-repeat: no-repeat;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .left-side-footer {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .right-side-footer {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;

      .email:hover {
        color: black;
      }
      .linked:hover {
        color: blue;
      }
      .github:hover {
        color: purple;
      }
      a {
        font-size: 20px;
        text-decoration: none;
        color: black;
        margin: 0 5px;
      }
    }
  }
}

@media (max-width: 1300px) {
  footer {
    background: url("../images/mag2.png");
    background-position: left;
    overflow: hidden;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
  }
}

@media (max-width: 800px) {
  footer {
    background: url("../images/magup.png");
    background-position: center -60px;
    overflow: hidden;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
  }
}

@media (max-width: 600px) {
  footer {
    border-top: 10px solid #6514ff;
  }
}

@media (max-width: 400px) {
  footer {
    background: url("../images/magflip.png");
    background-position: center 50px;
    overflow: hidden;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
  }
}
