footer {
  font-family: "Meera Inimai", sans-serif;
  width: 100%;
  border-top: 10px solid darkgreen;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: url("../images/mag.png");
  overflow: hidden;
  background-size: contain;
  position: absolute;
  background-position: right;
  background-repeat: no-repeat;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .left-side-footer {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .right-side-footer {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;

      .email:hover {
        color: black;
      }
      .linked:hover {
        color: blue;
      }
      .github:hover {
        color: purple;
      }
      a {
        font-size: 20px;
        text-decoration: none;
        color: black;
        margin: 0 5px;
      }
    }
  }
}
